@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Abdul muizz start */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* product img */
/* .product-img {
    height: 50px;
    border: 1px solid red;
} */

.product-img>img {
  height: 250px;
}

/* Hamburger Menue */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}


.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* Abdul muizz end */


#bag-img,
#mic-img,
#search-img {
  width: 18px;
  height: 18px;
}

#img-1 {
  position: relative;
  height: 650px;
  width: 450px;
  z-index: 1;
}

.second-section-img {
  height: 650px;
  width: 450px;
}

.second-section2-img {
  height: 580px;
  width: 435px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
}

.third-section-img {
  height: 400px;
  width: 300px;
}


.fourth-section-img {
  height: 650px;
  width: 450px;
}

#frame {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  height: 300px;
  width: 300px;
}

#frame2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  height: 200px;
  width: 200px;
}

#frame-text {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}


/* #frame-text:hover,#frame:hover{
  visibility: hidden;
} */

#frame-btn {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  padding: 6px 11px;
}


#frame2-btn {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  padding: px px;
}

.vector-14 {
  position: absolute;
  left: 39%;
  top: 100%;
  margin-top: 20px;
}

.brand {
  height: 150px;
}

@media screen and (max-width:1300px) {
  #img-1 {
    height: 600px;
    width: 350px;
  }

  #vector-13 {
    width: 80px;
  }

  #vector-14 {
    width: 100px;
  }
}

/* tife ends */


/* Starman begins */

.breadcrumbs {
  padding-bottom: 12px;
}

.breadcrumbs .next {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.breadcrumbs p {
  padding-bottom: 20px;
  font-size: 27px;
  color: rgba(121, 121, 121, 1);
}

.breadcrumbs h2 {
  font-style: bold;
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 20px;
  padding-top: 40px;
}

.center-section {
  width: 83%;
  margin-inline: auto;
}

.men-hero-img {
  width: 100%;
}

.men-hero {
  position: relative;
}

.hero-headies {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-style: Bold Semicondensed;
  color: #191F2D;
  font-size: 80px;
  text-align: center;
}

.categorey-img {
  width: 100%;
  height: 100%;
}

.category-types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 3.5rem;
}

.each-category {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  position: relative;
  padding-bottom: 50px;
}

.each-category .overlay {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  height: 382px;
  width: 374px;
  background-color: rgba(255, 255, 255, 0.7);
}

.each-category .short {
  height: 280px;
}

.each-category .shop-now {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 400;
  background-color: white;
  width: 260px;
  line-height: 60px;
  text-align: center;
  z-index: 1000;
  border: 2px solid #34251F;
  cursor: pointer;
}

/* .each-category .overlay{
    display: none;
  } 

  .each-category .shop-now:hover + .overlay{
    display: block;
  } */

.each-category .overlay-text {
  height: 124px;
  padding: 95px 0 0 56px;
  width: 100%;
}

.each-category .overlay-text h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 62px;
}


/* =====================MEDIA QUERIES=======================*/

/* Tablet view */

@media only screen and (max-width: 1200px) {
  .hero-headies {
    font-size: 60px;
  }

  .each-category .shop-now {
    width: 180px;
    line-height: 45px;
    font-size: 20px;
  }

  .each-category .overlay {
    height: 250px;
    width: 250px;
  }

  .each-category .overlay-text {
    height: 124px;
    padding: 80px 0 0 32px;
    width: 100%;
  }

  .each-category .overlay-text h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
  }


}

/* Tablet view */

@media only screen and (max-width: 992px) {
  .hero-headies {
    font-size: 40px;
  }

  .breadcrumbs h2 {
    font-size: 20px;
  }

  .each-category .shop-now {
    width: 150px;
    line-height: 40px;
    font-size: 18px;
  }

  .each-category .overlay {
    height: 200px;
    width: 200px;
  }

  .each-category .overlay-text {
    height: 124px;
    padding: 60px 0 0 32px;
  }

  .each-category .overlay-text h2 {
    font-size: 25px;
  }

}


/* Mobile view */

@media only screen and (max-width: 576px) {
  .hero-headies {
    font-size: 25px;
  }

  .each-category .shop-now {
    width: 130px;
    line-height: 40px;
    font-size: 16px;
  }

  .each-category .overlay {
    height: 200px;
    width: 200px;
  }

  .each-category .overlay-text {
    height: 134px;
    padding: 60px 0 0 0px;
    width: 90%;
  }

  .each-category .overlay-text h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
  }

  .category-types {
    flex-direction: column;
  }

  .each-category img {
    width: 600px;
    align-items: center;
    margin-left: 5px;
  }

  /* Starman ends */

}


  /* men product */

  .product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 3.5rem;
  }