/* tife begins */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@layer base {
  #time-div {
    padding: 24px 24px;
  }

  @media screen and (max-width:1225px) {
    #time-div {
      padding: 14px 14px;
    }
  }

  @media screen and (max-width:1024px) {
    #time-div {
      padding: 6px 14px;
    }
  }
}

.hamb {
  width: 29px;
  height: 20px;
  left: 0%;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hamb span {
  display: block;
  background-color: #34251F;
  width: 100%;
  height: 3px;
  transition: .60s;
  transition-property: transform, opacity;
}

.hamb span:nth-child(2) {
  margin: 8px 0px;
}

.click {
  z-index: 10008;
}

.click span {
  background-color: #FAF6F2;
  position: absolute;
  margin-top: 12px;
}

.click span:first-child {
  transform: rotate(-40deg);
}


.click span:nth-child(2) {
  opacity: 0;
  margin: 0;
}

.click span:last-child {
  transform: rotate(40deg);
  top: 0;
}

.nav2 {
  position: fixed;
  background-color: #34251F;
  width: 250px;
  height: 100vh;
  left: -1110.4%;
  top: 0%;
  z-index: 10001;
  display: flex;
  justify-content: space-evenly;
  transition: all .25s ease;
}

.nav2.open {
  left: 0%;
}

/* #tags {
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
  margin-top: 30px;
  }

#tags li{
    transition: all .50s ease; 
}

#tags li:hover{
    transform: translateY(-5px);
    font-weight: 600;
} */

#bag-img,
#mic-img,
#search-img,
.search-img {
  width: 18px;
  height: 18px;
}

#bag-img,
#mic-img,
#search-img {
  width: 18px;
  height: 18px;
}

#bag-img,
#mic-img,
#search-img {
  width: 18px;
  height: 18px;
}

#img-1 {
  position: relative;
  height: 650px;
  width: 450px;
  z-index: 1;
}

.second-section-img {
  width: 100%;
}

.second-section2-img {
  height: 650px;
  width: 450px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
}

.third-section-img {
  width: 100%;
}

.fourth-section-img {
  width: 100%;
}

.fifth-section-img {
  width: 100%;
  border-radius: 24px;
}

#frame {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  height: 300px;
  width: 300px;
}

#frame2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  height: 220px;
  width: 220px;
}

#frame-text {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);

}

#frame-icon {
  position: absolute;
  left: 41%;
  top: 35%;
  transform: translate(-50%, -50%);
}

#frame-icon2 {
  width: 30px;
  margin-left: 35px;
}

#frame3-icon {
  margin-left: 11%;
  margin-top: 25%;
  margin-bottom: 20%;
}

#frame-btn {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  width: 200px;
  line-height: 45px;
}

#frame2-btn {
  margin-left: 34px;
  font-size: 16px;
}

#frame3-btn {
  margin-left: 29px;
}

.vector-14 {
  position: absolute;
  left: 39%;
  top: 100%;
  margin-top: 20px;
}


.vector2-14 {
  position: absolute;
  left: 0%;
  top: 87%;
  margin-top: 20px;
}


.vector3-14 {
  position: absolute;
  left: 92%;
  top: 90%;
  z-index: -1;
  margin-top: 20px;
}


.brand {
  height: 150px;
}

@media screen and (max-width:1300px) {
  #img-1 {
    height: 600px;
    width: 350px;
  }

  #vector-13 {
    width: 80px;
  }

  #vector-14 {
    width: 100px;
  }

  /* .vector2-14 { */
  width: 100px;


}

@media screen and (max-width:1024px) {
  #img-1 {
    height: 450px;
    width: 250px;
  }

  .brand {
    height: 90px;
  }
}

@media screen and (max-width:874px) {

  #frame {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    height: 200px;
    width: 200px;
  }

  #footer2 {
    width: 50%;
    text-align: start;
  }

  #copyright {
    width: 100%
  }

  #guides {
    width: 100%
  }

  /* #frame2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  height: 220px;
  width: 220px;
}

#frame-text {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);

}

#frame-icon{
  position: absolute;
  left: 41%;
  top: 35%;
  transform: translate(-50%, -50%);
}


#frame3-icon{
  margin-left: 11%;
  margin-top: 25%;
  margin-bottom: 20%;
/* } */

  #frame-icon {
    width: 34px;
    position: absolute;
    left: 18%;
    top: 35%;
    transform: translate(-50%, -50%);
  }

  #frame-btn {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    width: 140px;
    line-height: 35px;
  }

  #frame2-btn {
    margin-left: 34px;
    font-size: 16px;
  }

  #frame3-btn {
    margin-left: 29px;
  }

}

@media screen and (max-width:577px) {
  .vector-14 {
    width: 68px;
    top: 98.5%;
  }

  .second-section2 .vector-14 {
    width: 68px;
    left: 10%;
    top: 100%;
  }

  .brand {
    height: 55px;
  }

  #footer2 {
    width: 100%;

  }


  #footer {
    width: 100%;
    text-align: start;
  }
}

/* tife ends */


/* Hamburger Menue */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}


.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* Abdul muizz end */


/* Starman begins */

.breadcrumbs {
  padding-bottom: 12px;
}

.breadcrumbs .next {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.breadcrumbs p {
  padding-bottom: 20px;
  font-size: 27px;
  color: rgba(121, 121, 121, 1);
}

.breadcrumbs h2 {
  font-style: bold;
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 20px;
  padding-top: 40px;
}

.center-section {
  width: 83%;
  margin-inline: auto;
}

.men-hero-img {
  width: 100%;
}

.men-hero {
  position: relative;
}

.hero-headies {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-style: Bold Semicondensed;
  color: #191F2D;
  font-size: 80px;
  text-align: center;
}

.categorey-img {
  width: 100%;
  height: 100%;
}

.category-types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 3.5rem;
}

.each-category {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  position: relative;
  padding-bottom: 50px;
}

.each-category .overlay {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  height: 382px;
  width: 374px;
  background-color: rgba(255, 255, 255, 0.7);
}

.each-category .short {
  height: 280px;
}

.each-category .shop-now {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 400;
  background-color: white;
  width: 260px;
  line-height: 60px;
  text-align: center;
  z-index: 1000;
  border: 2px solid #34251F;
  cursor: pointer;
}

.each-category .overlay {
  display: none;
}

.each-category .shop-now:hover+.overlay {
  display: block;
}

.each-category .overlay-text {
  height: 124px;
  padding: 95px 0 0 56px;
  width: 100%;
}

.each-category .overlay-text h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 62px;
}


/* =====================MEDIA QUERIES=======================*/

/* Tablet view */

@media only screen and (max-width: 1200px) {
  .hero-headies {
    font-size: 60px;
  }

  .each-category .shop-now {
    width: 180px;
    line-height: 45px;
    font-size: 20px;
  }

  .each-category .overlay {
    height: 250px;
    width: 250px;
  }

  .each-category .overlay-text {
    height: 124px;
    padding: 80px 0 0 32px;
    width: 100%;
  }

  .each-category .overlay-text h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
  }


}

/* Tablet view */

@media only screen and (max-width: 992px) {
  .hero-headies {
    font-size: 40px;
  }

  .breadcrumbs h2 {
    font-size: 20px;
  }

  .each-category .shop-now {
    width: 150px;
    line-height: 40px;
    font-size: 18px;
  }

  .each-category .overlay {
    height: 200px;
    width: 200px;
  }

  .each-category .overlay-text {
    height: 124px;
    padding: 60px 0 0 32px;
  }

  .each-category .overlay-text h2 {
    font-size: 25px;
  }

}


/* Mobile view */

@media only screen and (max-width: 576px) {
  .hero-headies {
    font-size: 25px;
  }

  .dot,
  .dot2 {
    display: none;
  }

  .each-category .shop-now {
    width: 130px;
    line-height: 40px;
    font-size: 16px;
  }

  .each-category .overlay {
    height: 200px;
    width: 200px;
  }

  .each-category .overlay-text {
    height: 134px;
    padding: 60px 0;
  }

  .each-category .overlay-text h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
  }

  .category-types {
    flex-direction: column;
    gap: 0;
  }

  .each-category img {
    width: 600px;
    align-items: center;
    margin-left: 5px;

  }

  /* Starman ends */

}



.product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.each-product .product-image {
  width: 100%;
  height: 548.33px;
}

.each-product .product-image img {
  width: 100%;
  height: 100%;
}

.transform {
  font-size: 44px;
  font-weight: bold;
  text-transform: uppercase;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating .bag img {
  width: 35px;
  height: 35px;
}

.rating .star img {
  width: 20px;
  height: 20px;
}

.rating .star {
  display: flex;
}



/* login */
.login {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background: #34251F; */
  background: #FAF6F2;
  overflow: hidden;
}

.left,
.right {
  height: 100%;
  padding: 30px;
}

.left h1,
.left p {
  margin-bottom: 10px;
  text-align: center;
}

.left {
  border-top-right-radius: 45px;
  background: #34251F;
  color: #FAF6F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.left img {
  position: absolute;
  bottom: -30px;
}

.right h1 {
  margin: 15px 0;
  text-align: center;
  color: #34251F;
}

.right {
  color: #34251F;
  padding: 40px;
  flex-direction: column;
  display: flex;
  gap: 15px;
}

.right a {
  text-decoration: underline;
}

.right .info input {
  width: 100%;
  background: none;
  outline: none;
}

.right .info {
  border-radius: 8px;
  margin: 15px 0;
  width: 100;
  padding: 10px;
  border: 1px solid #34251F;
}

.check {
  display: flex;
  justify-content: space-between;
}

.btn_login {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #34251F;
  color: #FAF6F2;
  font-weight: 500;
  cursor: pointer;
}

.btn_google i {
  font-size: 20px;
}

.btn_google {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .product {
    grid-template-columns: 1fr 1fr;
  }

  .login {
    grid-template-columns: 1fr;
  }

  .left {
    display: none;
  }
}